$blue:rgb(15, 15, 146);
$light_blue:rgb(55,55,201);
$transparent_blue:rgba(74, 74, 247,.5);

.svg{
    width: 40px;
    height: 40px;
}

.hero{
    width: 100%;
    height: calc(70vh - 56px);
    background:  linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5),),url('../../site_images/home_image.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0;
}
@media (min-width:968px){
    .hero{
        font-size: 1.9rem;
    }
}
/// about section 

.about{
    margin-top: 40px;
    text-align: center;

    .about_us_inner_wrapper{
        line-height: 1.6rem;
    }

    h2{
        margin-bottom: 10px;

        span{
            color: $blue;
        }
    }
}

@media (min-width:968px){
    .about{
        width: 70%;
        margin: auto;
        margin-top: 40px;
    }
}


//services section
.services{
    margin-top: 80px;

    .services_card_wrapper{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .service_card{
            width: 80%;
            margin: auto;
            padding: 20px;
            margin-bottom: 30px;
            background: $transparent_blue;
            color: rgb(20,20,20);
            line-height: 1.6rem;
            border-radius: 8px;
            transition: .3s;

            h3{
                margin-bottom: 10px;
            }

            &:hover{
                box-shadow: 1px 1px 15px black;
            }
        }
    }
}

@media (min-width:560px){
    .services .services_card_wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .service_card{
            flex-basis: 45%;
            width: 100%;
        }
    }
}
@media (min-width:750px){
    .services .services_card_wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .service_card{
            flex-basis: 30%;
            width: 100%;
        }
    }
}

// facilities section
.facilities{
    margin-top: 70px;

    .facilities_inner_wrapper{
        width: 100%;
        margin-top: 30px;
    }

    .facility{
        width: 80%;
        margin: auto;
        position: relative;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 30px;

        .facility_img{
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: .3s;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .facility_layer{
            position: absolute;
            top: 0;
            left: 0;right: 0;bottom: 0;
            background: rgba(0,0,0,.5);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }

        &:hover{
            .facility_img{
                transform: scale(1.1);
            }
        }
    }
}

@media (min-width:500px){
    .facilities .facility{
        width: 70%;
    }
}
@media (min-width:600px){
    .facilities .facility{
        flex-basis: 45%;
    }
    .facilities .facilities_inner_wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
@media (min-width:800px){
    .facilities .facility{
        flex-basis: 30%;
    }
}


// testimonies stylings
.testimonies{
    width: 100%;
    background-color: $blue;
    color: white;
    padding-top: 30px;
    margin-top: 80px;
    padding-bottom: 30px;
    min-height: 400px;

    h2::after{
        background-color: white;
    }
}
.testimonies_wrapper{
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .testimony{
        flex-basis: 70%;
        margin-bottom: 20px;
        background: $transparent_blue;
        background: rgb(220,220,220);
        color: black;
        padding: 20px;
        border-radius: 8px;
        transition: .3s;

        &:hover{
            box-shadow: 1px 1px 15px black;
        }

        h4{
            margin-bottom: 10px;
        }
    }
}

@media (min-width:600px){
    .testimonies_wrapper{
        justify-content: space-between;
        .testimony{
            flex-basis: 45%;
        }
    }
}

@media (min-width:800px){
    .testimonies_wrapper{
        justify-content: space-between;
        .testimony{
            flex-basis: 31%;
        }
    }
}

// booking styles

.booking{
    .booking_form_wrapper{
        width: 90%;
        margin: auto;
        margin-top: 10px;
        padding: 20px;
        // background: $blue;
        color: white;
    }
    form{
        padding: 30px;
        padding-bottom: 20px;
        width: 90%;
        margin: auto;
        background: $light_blue;
        border-radius: 8px;

        label{
            display: block;
            margin-bottom: 5px;
            font-weight: bolder;
        }

        input{
            margin-bottom: 20px
        }
        input[type = text],
        input[type = email]{
            width: 100%;
            padding: 7px;
            border-radius: 5px;
            border: none;
        }

        button{
            display: block;
            width: 100%;
            padding: 15px;
            border-radius: 8px;
            border: none;
            margin-top: 10px;
            color: white;
            font-weight: bolder;
            background: black;
            transition: .3s;

            &:hover{
                box-shadow: 1px 1px 15px black;
                cursor: pointer;
            }
        }
    }
}

@media (min-width:600px){
    .booking form{
        width: 80%;
    }
}

@media (min-width:800px){
    .booking form{
        width: 60%;
    }
}

//footer
footer{
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}



.loc{
    width: 20px;
    height: 20px;
}