@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;0,700;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  scroll-padding: 150px;
  scroll-behavior: smooth;
}

html {
  font-size: 90%;
}

header {
  background: -webkit-linear-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
  background-position: center;
  background-size: cover;
}

h2 {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background: black;
  color: white;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track-piece {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #27278d;
}

h2 {
  text-align: center;
}

strong {
  text-transform: capitalize;
  font-style: oblique;
}
.logo h1{
  font-family: 'Cedarville Cursive', cursive;
}
nav {
  width: 100%;
  padding: 20px 30px;
  background: #27278d;
  -webkit-box-shadow: 10px 0 10px black;
  box-shadow: 10px 0 10px black;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99999999;
}

nav ul li {
  display: inline-block;
  margin: 0px 15px;
  list-style: none;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  font-family: cursive;
}

nav ul li a:hover {
  background: black;
  color: white;
}

.menu-btn {
  display: none;
}

h2 {
  color: white;
}

header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.header-text {
  width: 90%;
  margin-top: 40px;
  margin: auto;
  padding: 10px;
  text-align: center;
  color: white;
  -webkit-transform: translateX(-100%) rotate(-1440deg) scale(0.1);
  transform: translateX(-100%) rotate(-1440deg) scale(0.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  overflow-wrap: break-word;
}

.header-text button {
  width: 70px;
  height: 70px;
  margin-top: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background: black;
  color: white;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-animation: y-movement 2s infinite;
  animation: y-movement 2s infinite;
}

.header-text button:hover {
  border-color: #27278d;
}

.header-text h1 {
  font-size: 4rem;
  color: whitesmoke;
}

.header-active {
  -webkit-transform: translateX(0%) rotate(1440deg) scale(1);
  transform: translateX(0%) rotate(1440deg) scale(1);
}

.about-me {
  width: 100%;
  margin: auto;
  margin-bottom: 80px;
  padding: 3rem 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #272764;
  z-index: -1;
}

.bio {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me-img {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px;
  z-index: 2;
}

.about-me-img::before {
  content: '';
  background: transparent;
  height: 40%;
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.about-me-img::after {
  content: '';
  background: transparent;
  height: 40%;
  width: 30%;
  display: block;
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 1;
}

.about-me-img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.about-me-col {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.layer {
  position: absolute;
  top: 70%;
  right: -200px;
  opacity: 0;
  font-family: fantasy;
  font-style: oblique;
  font-size: 5rem;
  z-index: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.layer-active {
  right: 20%;
  opacity: 0.3;
}

.my-stack {
  margin-top: 40px;
}

.my-stack h3 {
  margin-bottom: 8px;
}

.my-stack h4 {
  margin-bottom: 5px;
  margin-top: 12px;
}

.my-stack ul {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects {
  width: 100%;
  padding: 20px;
  position: relative;
  background: #272764;
  overflow: hidden;
  margin-bottom: 150px;
  background: #141414;
}

.projects > h2 {
  text-align: center;
  font-weight: bold;
  color: white;
}

.projects > p {
  text-align: center;
  font-weight: bold;
  color: white;
}

.projects-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects-col {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  margin: 15px auto;
  margin-bottom: 100px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
}

.project-image {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-image img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project-info {
  color: white;
  margin-bottom: 15px;
  margin-top: 20px;
}

.project-info span {
  font-weight: bolder;
}

.reveal-project {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.project-link {
  display: inline-block;
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border: 0 solid black;
  border-left: 7px solid white;
  margin-top: 5px;
}

#reach-out {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}

#reach-out .form-container {
  width: 40%;
  margin: auto;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-transition: 1s;
  transition: 1s;
}

#reach-out .form-container form {
  width: 90%;
  padding: 1em;
}

#reach-out .form-container form div {
  margin: 20px 0;
}

#reach-out .form-container form div label {
  font-weight: bolder;
  display: block;
  margin: 15px 0;
}

#reach-out .form-container form div input {
  width: 100%;
  background: black;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  padding: 8px 12px;
  color: white;
}

#reach-out .form-container form div input:focus {
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid #27278d;
}

#reach-out .form-container form div textarea {
  width: 100%;
  padding: 1em;
}

#reach-out .form-container form div textarea:focus {
  background: black;
  color: white;
}

.reach-out button {
  font-weight: bolder;
  margin: auto;
  margin-top: 20px;
  padding: 15px 25px;
  background: inherit;
  color: white;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 5s;
  transition: 5s;
}

.reach-out button::after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 0%;
  background: #27278d;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.reach-out button:hover::after {
  width: 100%;
}

@media (max-width: 650px) {
  nav ul {
    position: fixed;
    top: 80px;
    right: -50%;
    background: #27278d;
    height: 100vh;
    width: 50vw;
    padding: 15px;
  }
  nav ul li {
    display: block;
    text-align: left;
    margin: 50px 0;
  }
  nav ul li a {
    color: white;
  }
  .menu-btn {
    display: block;
  }
  .header-text h1 {
    font-size: 2rem;
  }
  .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-me-img {
    margin-bottom: 20px;
    padding: 10px;
  }
  .layer {
    font-size: 3rem;
  }
  .projects-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #navbar {
    right: -50%;
  }
  #reach-out .form-container {
    width: 90%;
  }
}

footer {
  height: 100px;
  width: 100%;
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #27278d;
}

footer a {
  color: white;
}

footer div {
  background: black;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 525px) and (max-width: 650px) {
  .layer {
    top: 90%;
  }
}

@media (min-width: 580px) and (max-width: 650px) {
  .header-text h1 {
    font-size: 3rem;
  }
}

@-webkit-keyframes y-movement {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    border-color: #646464;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    border-color: white;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes y-movement {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    border-color: #646464;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    border-color: white;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
/*# sourceMappingURL=index.css.map */