* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

html {
  font-size: 70%;
}

#contact_header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
}

header #home_bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* Background with 50% opacity */
}

header #home_bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  z-index: -1;
}

header #mobile_nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

header #mobile_nav #nwike {
  color: black;
}

header #mobile_nav h1 {
  font-family: 'Nosifer', sans-serif;
  font-size: 20px;
  color: whitesmoke;
  -webkit-animation: pulse .7s infinite alternate;
          animation: pulse .7s infinite alternate;
}

header #mobile_nav h1 span {
  color: darkred;
  font-family: 'Nosifer', sans-serif;
}

header #mobile_nav h1:hover {
  -webkit-animation: pulse .7s infinite alternate;
          animation: pulse .7s infinite alternate;
}

header #mobile_nav #contact_mn_h1 {
  color: black;
}

header #mobile_nav #menu_btn {
  cursor: pointer;
  background-color: white;
  padding: 2px;
  border-radius: 9px;
}

header #mobile_nav #menu_btn:hover {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
  -webkit-transition: .5s;
  transition: .5s;
}

header #mobile_nav .nav_links,
header #mobile_nav .contact_nav_links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -10;
  opacity: 0;
}

header #mobile_nav .nav_links .close_nav_btn,
header #mobile_nav .contact_nav_links .close_nav_btn {
  font-size: 3rem;
  position: absolute;
  top: 50px;
  right: 35px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

header #mobile_nav .nav_links .link,
header #mobile_nav .contact_nav_links .link {
  margin-bottom: 20px;
}

header #mobile_nav .nav_links .link p,
header #mobile_nav .contact_nav_links .link p {
  font-size: 2.3rem;
}

header #mobile_nav .nav_links .link p a,
header #mobile_nav .contact_nav_links .link p a {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-family: 'Nosifer', sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
}

header #mobile_nav .nav_links .link p a:hover,
header #mobile_nav .contact_nav_links .link p a:hover {
  color: #828282;
}

header #mobile_nav .contact_nav_links .link p a {
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

header #mobile_nav .contact_nav_links .link p a:hover {
  color: #828282;
}

header #desktop_nav {
  display: none;
}

header #desktop_nav h1 {
  font-family: 'Nosifer', sans-serif;
  font-size: 27px;
  color: whitesmoke;
  -webkit-animation: pulse .7s infinite alternate;
          animation: pulse .7s infinite alternate;
}

header #desktop_nav h1 span {
  color: darkred;
  font-family: 'Nosifer', sans-serif;
}

header #desktop_nav h1:hover {
  -webkit-animation: pulse .7s infinite alternate;
          animation: pulse .7s infinite alternate;
}

header #desktop_nav .contact_h1 {
  color: black;
}

header #desktop_nav .links,
header #desktop_nav .contact_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #desktop_nav .links .link,
header #desktop_nav .contact_links .link {
  margin-right: 35px;
}

header #desktop_nav .links p,
header #desktop_nav .contact_links p {
  font-size: 1.8rem;
}

header #desktop_nav .links p a,
header #desktop_nav .contact_links p a {
  color: white;
}

header #desktop_nav .links p:hover::after,
header #desktop_nav .contact_links p:hover::after {
  width: 100%;
}

header #desktop_nav .links p::after,
header #desktop_nav .contact_links p::after {
  content: '';
  display: block;
  margin-top: 5px;
  width: 0;
  height: 3px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

header #desktop_nav .contact_links p a {
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

header #desktop_nav .contact_links p a:hover {
  color: #828282;
}

header #desktop_nav .contact_links p::after {
  content: '';
  display: block;
  margin-top: 5px;
  width: 0;
  height: 3px;
  background-color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

header #hero {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100vh - 112px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

header #hero .hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #hero h1 {
  font-family: 'Nosifer', 'sans-serif';
  font-size: 2.3rem;
}

header #hero h1 span {
  font-family: 'Nosifer', 'sans-serif';
  color: darkred;
}

header #hero button {
  width: 200px;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 30px 40px;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

header #hero button:hover {
  background-color: #c8c8c8;
}

@media screen and (min-width: 820px) {
  header #mobile_nav {
    padding: 25px 40px;
  }
  header #hero h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 912px) {
  header #mobile_nav {
    display: none;
  }
  header #hero h1 {
    font-size: 3.3rem;
  }
  header #desktop_nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 45px;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

#quote {
  width: 100%;
  max-width: 900px;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  line-height: 40px;
  padding: 40px;
}

#quote h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 400;
}

#quote button {
  margin-top: 40px;
  background-color: black;
  font-weight: bold;
  font-size: 1.3rem;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid black;
}

#quote button a {
  color: white;
  display: block;
  padding: 25px 50px;
}

#quote button:hover {
  background-color: #323232;
}

@media screen and (min-width: 920px) {
  #quote {
    line-height: 60px;
  }
  #quote h3 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  #quote button {
    font-size: 1.5rem;
  }
}

#bio {
  background-color: rgba(247, 229, 148, 0.2);
  width: 100%;
  padding: 30px;
  margin-top: 40px;
}

#bio .artist_img_wrapper {
  width: 60%;
  overflow: hidden;
}

#bio .artist_img_wrapper img {
  width: 100%;
  max-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#bio .artist_info {
  margin-top: 30px;
}

#bio .artist_info h2 {
  margin: 20px 0;
  font-size: 2.6rem;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

#bio .artist_info p {
  line-height: 35px;
  font-size: 1.5rem;
}

@media screen and (min-width: 900px) {
  #bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #bio .artist_img_wrapper {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  #bio .artist_info {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

#work_and_thoughts {
  width: 100%;
  margin: auto;
  margin-top: 150px;
}

#work_and_thoughts h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 2.8rem;
}

#work_and_thoughts .w_a_t_container {
  width: 95%;
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 8px;
}

#work_and_thoughts .w_a_t_container .w_a_t {
  width: 100%;
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  max-width: 80%;
  margin: 50px auto;
  padding: 0 4px;
  font-size: 1.4rem;
}

#work_and_thoughts .w_a_t_container .w_a_t .image {
  width: 100%;
  overflow: hidden;
}

#work_and_thoughts .w_a_t_container .w_a_t .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#work_and_thoughts .w_a_t_container .w_a_t h3 {
  font-family: 'Playfair Display', serif;
  margin: 25px 0;
  font-weight: lighter;
  font-size: 1.8rem;
}

#work_and_thoughts .w_a_t_container .w_a_t p {
  line-height: 33px;
}

#work_and_thoughts .w_a_t_container .w_a_t .image_bio {
  margin: 8px 0;
}

#work_and_thoughts .w_a_t_container .w_a_t .image_desc p {
  color: #646464;
}

@media screen and (min-width: 900px) {
  #work_and_thoughts .w_a_t_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #work_and_thoughts .w_a_t_container .w_a_t {
    -webkit-box-flex: 32%;
        -ms-flex: 32%;
            flex: 32%;
    max-width: 32%;
  }
}

#selected_works {
  width: 100%;
  margin-top: 150px;
}

#selected_works h2 {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
}

#selected_works .inner_wrapper {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

#selected_works .image_column {
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

#selected_works .image_column div {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

#selected_works .image_column div .work_img_bg {
  position: absolute;
  top: -100px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

#selected_works .image_column div .work_img_bg h3 {
  font-family: 'Nosifer', sans-serif;
  opacity: 0;
}

#selected_works .image_column div img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

#selected_works .image_column div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#selected_works .image_column div img:hover .image_column div .work_img_bg {
  opacity: 1;
  bottom: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 11;
}

#selected_works .image_column div img:hover .image_column div .work_img_bg h {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  #selected_works .image_column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  #selected_works .image_column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /* Initial size */
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    /* Increased size */
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /* Initial size */
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    /* Increased size */
  }
}
/*# sourceMappingURL=index.css.map */